<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="closeModal()" ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>{{ "ABOUT_header" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    This is the Reformation Camp App!<br>
    Written by  Michael Götz and Aron M.<br>
    <br>
    <a href="https://github.com/knusperkrone/Reformation-Camp">The App is Open Source on GitHub</a>
</ion-content>
